<?xml version="1.0" ?>
<launch>
  <include file="$(find ros_objslampp_panda)/launch/franka_control_demo1.launch"/>
  <include file="$(find ros_objslampp_panda)/launch/panda_moveit_demo1.launch"/>
  <node name="pose_service" pkg="ros_objslampp_panda" type="pose_service" respawn="false" output="screen">
    <param name="planning_plugin" value="ompl_interface/OMPLPlanner"/>
  </node>
  <node name="linear_pose_service" pkg="ros_objslampp_panda" type="linear_pose_service.py" output="screen" required="true" />
  <node name="joint_position_service" pkg="ros_objslampp_panda" type="joint_position_service.py" output="screen" required="true" />
  <node name="update_scene_service" pkg="ros_objslampp_panda" type="update_scene_service" respawn="false" output="screen"/>
</launch>
