<launch>

  <node name="data_collection_server"
        pkg="jsk_data" type="data_collection_server.py"
        clear_params="true">
    <rosparam subst_value="true">
      save_dir: ~/.ros
      topics:
        - name: /camera/color/image_raw
          msg_class: sensor_msgs/Image
          fname: image.png
          savetype: ColorImage
        - name: /camera/aligned_depth_to_color/image_raw
          msg_class: sensor_msgs/Image
          fname: depth.npy
          savetype: DepthImage
    </rosparam>
  </node>

</launch>
