<launch>

  <!--

      roslaunch ros_objslampp_py2 data_collection.launch
      rosservice call /data_collection_server/save_request "{}"

  -->

  <group ns="camera">
    <group ns="aligned_depth_to_color">
      <node name="depth_view"
            pkg="image_view" type="image_view"
            clear_params="true">
        <remap from="image" to="image_raw" />
        <rosparam subst_value="true">
          min_image_value: 200   # 0.2m
          max_image_value: 1500  # 1.5m
          colormap: 2  # JET
          gui: false
        </rosparam>
      </node>
    </group>
  </group>

  <node name="tile_image"
        pkg="ros_objslampp_ycb_video" type="tile_image.py"
        clear_params="true">
    <rosparam subst_value="true">
      input_topics:
        - /camera/color/image_raw
        - /camera/aligned_depth_to_color/depth_view/output
    </rosparam>
  </node>

  <node name="image_view"
        pkg="image_view" type="image_view"
        clear_params="true">
    <remap from="image" to="/tile_image/output" />
  </node>

  <node name="data_collection_server"
        pkg="jsk_data" type="data_collection_server.py"
        clear_params="true">
    <rosparam subst_value="true">
      save_dir: ~/.ros
      topics:
        - name: /camera/color/camera_info
          msg_class: sensor_msgs/CameraInfo
          fname: camera_info.yaml
          savetype: YAML
        - name: /camera/color/image_raw
          msg_class: sensor_msgs/Image
          fname: image.png
          savetype: ColorImage
        - name: /camera/aligned_depth_to_color/depth_view/output
          msg_class: sensor_msgs/Image
          fname: depth_viz.png
          savetype: ColorImage
        - name: /camera/aligned_depth_to_color/image_raw
          msg_class: sensor_msgs/Image
          fname: depth.npz
          savetype: DepthImage
    </rosparam>
  </node>

</launch>
