<launch>

  <arg name="GUI" default="true" />

  <group ns="/camera">
    <group ns="color">
      <node name="image_rect_color_throttle"
            pkg="nodelet" type="nodelet"
            args="standalone jsk_topic_tools/LightweightThrottle">
        <remap from="~input" to="image_rect_color" />
        <rosparam subst_value="true">
          update_rate: 2
        </rosparam>
      </node>
    </group>
    <node name="mask_rcnn_instance_segmentation"
          pkg="ros_objslampp_ycb_video" type="mask_rcnn_instance_segmentation.py"
          clear_params="true" output="screen">
      <remap from="~input" to="color/image_rect_color_throttle/output" />
    </node>
    <node name="draw_instance_segmentation"
          pkg="ros_objslampp_ycb_video" type="draw_instance_segmentation.py"
          clear_params="true">
      <remap from="~input/rgb" to="color/image_rect_color_throttle/output" />
      <remap from="~input/label_ins" to="mask_rcnn_instance_segmentation/output/label_ins" />
      <remap from="~input/class" to="mask_rcnn_instance_segmentation/output/class" />
    </node>
    <group ns="draw_instance_segmentation" if="$(arg GUI)">
      <node name="image_view"
            pkg="image_view" type="image_view"
            clear_params="true">
        <remap from="image" to="output" />
      </node>
    </group>
  </group>

</launch>
