<launch>

  <arg name="CONTEXT" default="[]" />

  <include file="$(find ros_objslampp_ycb_video)/launch/mask_rcnn_instance_segmentation.launch">
    <arg name="CONTEXT" value="$(arg CONTEXT)" />
    <arg name="GUI" value="false" />
  </include>
  <include file="$(find ros_objslampp_ycb_video)/launch/singleview_3d_pose_estimation.launch">
    <arg name="OCCUPANCY" value="true" />
    <arg name="STATIC" value="true" />
  </include>
  <include file="$(find ros_objslampp_ycb_video)/launch/singleview_3d_pose_estimation.launch">
    <arg name="OCCUPANCY" value="false" />
    <arg name="STATIC" value="false" />
  </include>

  <group ns="camera">
    <node name="octomap_server"
          pkg="ros_objslampp_ycb_video" type="octomap_server"
          clear_params="true"
          output="screen">
      <remap from="cloud_in" to="depth_registered/points" />
      <remap from="label_ins_in" to="mask_rcnn_instance_segmentation/output/label_ins" />
      <remap from="class_in" to="mask_rcnn_instance_segmentation/output/class" />
      <rosparam subst_value="true">
        frame_id: base
        resolution: 0.01
      </rosparam>
    </node>
    <node name="grids_to_mesh_markers"
          pkg="ros_objslampp_ycb_video" type="voxel_grids_to_mesh_markers.py"
          clear_params="true">
      <remap from="~input" to="octomap_server/output/grids" />
    </node>
    <node name="grids_to_markers"
          pkg="ros_objslampp_ycb_video" type="voxel_grids_to_markers.py"
          clear_params="true">
      <remap from="~input" to="octomap_server/output/grids" />
    </node>
    <node name="grids_noentry_to_markers"
          pkg="ros_objslampp_ycb_video" type="voxel_grids_to_markers.py"
          clear_params="true">
      <remap from="~input" to="octomap_server/output/grids_noentry" />
    </node>
  </group>

</launch>
