<launch>

  <arg name="target" default="2" />

  <node name="static_transform_publisher0"
        pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 map panda_link0 100">
  </node>

  <include file="$(find ros_objslampp_ycb_video)/launch/setup_static.xml">
  </include>

  <group ns="camera">
    <node name="select_picking_order"
          pkg="ros_objslampp_ycb_video" type="select_picking_order.py"
          clear_params="true"
          output="screen">
      <remap from="~input/camera_info" to="color/camera_info" />
      <remap from="~input/poses" to="with_occupancy/collision_based_pose_refinement/object_mapping/output/poses" />
      <rosparam param="target" subst_value="true">
        $(arg target)
      </rosparam>
    </node>
  </group>

</launch>
