<launch>

  <arg name="GUI" default="true" />

  <group ns="/camera/aligned_depth_to_color">
    <node name="image_view"
          pkg="image_view" type="image_view"
          clear_params="true">
      <remap from="image" to="image_raw" />
      <rosparam subst_value="true">
        colormap: 2
        do_dynamic_scaling: true
        gui: false
      </rosparam>
    </node>
  </group>

  <group ns="visualize_rs_rgbd">
    <node name="tile_image"
          pkg="jsk_perception" type="tile_image.py"
          clear_params="true">
      <rosparam subst_value="true">
        input_topics:
          - /camera/color/image_rect_color
          - /camera/aligned_depth_to_color/image_view/output
      </rosparam>
    </node>
    <group if="$(arg GUI)">
      <node name="image_view"
            pkg="image_view" type="image_view"
            clear_params="true">
        <remap from="image" to="tile_image/output" />
      </node>
    </group>
  </group>

</launch>
