sudo: false

os: linux

dist: trusty

python:
  - 3.6

language: python

cache:
  - pip

notifications:
  email: false

branches:
  only:
    - master

install:
  - make install

script:
  - make lint
  - make test_ci

after_success:
  - |
    if [ "$TRAVIS_BRANCH" = "master" ]; then
      pip install mistune
      ./.generate_readme.py > README.md
      ./.travis_push.sh README.md
    fi
