chainer
chainercv
chainercv2
frozendict
gdown>=3.7.0
glooey
imgaug
imgviz[all]>=0.10.0
logboard>=0.3.0
networkx<2.4
octomap-python>=1.8.0.post12
open3d-python
opencv-python
pandas
path.py
pybullet
pyyaml
scikit-image
scikit-learn
scipy
termcolor
tqdm
tensorboardX<1.7
tensorflow==1.13.1
trimesh[easy]
