chainer
chainercv
chainercv2
frozendict
gdown>=3.7.0
glooey
imgaug
imgviz[all]>=0.10.0
logboard>=0.3.0
networkx
octomap-python>=1.8.0.post12
open3d>=0.13.0
opencv-python
pandas
path.py
pybullet
pyyaml
scikit-image
scikit-learn
scipy
termcolor
tqdm
trimesh[easy]>=3.5.0
