chainer
chainercv
frozendict
gdown>=3.7.0
glooey
imgaug
imgviz[all]
logboard>=0.3.0
octomap-python>=1.8.0.post12
open3d-python
opencv-python
pandas
path.py
pybullet
pyrender
pyyaml
scikit-image
scikit-learn
scipy
termcolor
tqdm
tensorboardX<1.7
tensorflow==1.13.1
trimesh[easy]
