-r requirements.txt
-e git+https://github.com/wkentaro/chainer.git@objslampp#egg=chainer
-e git+https://github.com/wkentaro/logboard.git@master#egg=logboard
flake8
ipdb
ipython
pycd
pytest
tensorboardX
tensorflow
