-e git+https://github.com/wkentaro/chainer.git@objslampp#egg=chainer
-e git+https://github.com/wkentaro/chainerlg.git@master#egg=chainerlg
-r requirements.txt
flake8
ipdb
ipython
pycd
pytest
tensorboardX
tensorflow
