-e git+https://github.com/chainer/chainercv.git@master#egg=chainercv
-e git+https://github.com/mikedh/trimesh.git@master#egg=trimesh[easy]
-e git+https://github.com/wkentaro/chainer.git@objslampp#egg=chainer
-e git+https://github.com/wkentaro/imgviz.git@master#egg=imgviz
-e git+https://github.com/wkentaro/logboard.git@master#egg=logboard
-r requirements.txt
flake8
ipdb
ipython
pycd
pytest
