<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="suction_gripper">

  <material name="black">
    <color rgba="0.2 0.2 0.2 1"/>
  </material>

  <material name="green">
    <color rgba="0.1 0.9 0.1 1"/>
  </material>

  <xacro:macro name="suction_gripper" params="connected_to:='' ns:='' rpy:='0 0 0' xyz:='0 0 0' ">

    <xacro:unless value="${connected_to == ''}">
      <joint name="${ns}_suction_gripper_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="${ns}_suction_gripper"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless>

    <link name="${ns}_suction_gripper">
      <visual>
        <geometry>
          <mesh filename="package://franka_description_custom/meshes/visual/suction_mount.stl"/>
        </geometry>
        <material name="black"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.168 0.137 0.047"/>
        </geometry>
        <origin xyz="0.0155 0 -0.005"/>
      </collision>
    </link>

    <link name="${ns}_suction_cup">
      <visual>
        <geometry>
          <mesh filename="package://franka_description_custom/meshes/visual/suction_cup.stl"/>
        </geometry>
        <material name="green"/>
      </visual>
      <collision>
        <geometry>
          <box size="0.0502 0.0502 0.0671"/>
        </geometry>
        <origin xyz="0 0 -0.0314"/>
      </collision>
    </link>

    <joint name="${ns}_suction_mount_to_cup_joint" type="fixed">
      <parent link="${ns}_suction_gripper"/>
      <child link="${ns}_suction_cup"/>
      <origin xyz="0.072 0 -0.069494" rpy="${pi} 0 0"/>
    </joint>


  </xacro:macro>
</robot>
