<launch>

  <include file="$(find morefusion_panda_ycb_video)/launch/rosbag_play_rs_rgbd.launch">
    <arg name="BAG_ID" value="dynamic.desk" />
  </include>

  <include file="$(find morefusion_panda_ycb_video)/launch/visualize_rs_rgbd.launch">
    <arg name="GUI" value="true" />
  </include>

  <include file="$(find morefusion_panda_ycb_video)/launch/mask_rcnn_instance_segmentation.launch">
  </include>

</launch>
