<launch>

  <arg name="PLAY_ROSBAG" default="true" />

  <include file="$(find ros_objslampp_ycb_video)/examples/example_mask_rcnn_instance_segmentation.launch">
    <arg name="PLAY_ROSBAG" value="$(arg PLAY_ROSBAG)" />
    <arg name="GUI" value="false" />
  </include>

  <node name="staitc_transform_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0 0 0.5 0 3.14 0 base camera_color_optical_frame 100">
  </node>

  <group ns="/camera">
    <node name="singleview_3d_pose_estimation"
          pkg="ros_objslampp_ycb_video" type="singleview_3d_pose_estimation.py"
          clear_params="true"
          output="screen">
      <remap from="~input/camera_info" to="color/camera_info" />
      <remap from="~input/rgb" to="color/image_rect_color" />
      <remap from="~input/depth" to="aligned_depth_to_color/image_raw" />
      <remap from="~input/label_ins" to="mask_rcnn_instance_segmentation/output/label_ins" />
      <remap from="~input/label_cls" to="mask_rcnn_instance_segmentation/output/label_cls" />
    </node>
    <node name="render_marker_array"
          pkg="ros_objslampp_ycb_video" type="render_marker_array.py"
          clear_params="true">
      <remap from="~input/camera_info" to="color/camera_info" />
      <remap from="~input/markers" to="singleview_3d_pose_estimation/output/markers" />
    </node>
  </group>

</launch>
