<launch>

  <include file="$(find ros_objslampp_ycb_video)/launch/rosbag_play_rs_rgbd.launch">
    <arg name="BAG_ID" value="dynamic" />
  </include>

  <include file="$(find ros_objslampp_ycb_video)/launch/visualize_rs_rgbd.launch">
    <arg name="GUI" value="false" />
  </include>

  <include file="$(find ros_objslampp_ycb_video)/launch/rviz_dynamic.launch">
  </include>

  <include file="$(find ros_objslampp_ycb_video)/launch/setup_dynamic.launch">
  </include>

</launch>
