<launch>

  <include file="$(find ros_objslampp_ycb_video)/launch/rosbag_play_rs_rgbd.launch">
  </include>

  <include file="$(find ros_objslampp_ycb_video)/launch/visualize_rs_rgbd.launch">
    <arg name="GUI" value="false" />
  </include>

  <include file="$(find ros_objslampp_ycb_video)/launch/singleview_3d_pose_estimation.launch">
  </include>

  <node name="rviz"
        pkg="rviz" type="rviz"
        clear_params="true"
        args="-d $(find ros_objslampp_ycb_video)/examples/rvizconfig/example_singleview_3d_pose_estimation.rviz">
  </node>

</launch>
