<?xml version="1.0" ?>
<launch>
  <arg name="load_gripper" default="true" />
  <include file="$(find franka_control_custom)/launch/franka_control.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>
  <node name="pose_service" pkg="franka_moveit_custom" type="pose_service" respawn="false" output="screen">
    <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
  </node>
  <node name="linear_pose_service" pkg="franka_moveit_custom" type="linear_pose_service.py" output="screen" required="true" />
  <node name="joint_position_service" pkg="franka_moveit_custom" type="joint_position_service.py" output="screen" required="true" />
  <node name="update_scene_service" pkg="franka_moveit_custom" type="update_scene_service" respawn="false" output="screen"/>
</launch>
