<launch>

  <include file="$(find morefusion_ycb_video)/launch/mask_rcnn_instance_segmentation.launch">
    <arg name="GUI" value="false" />
  </include>

  <include file="$(find morefusion_ycb_video)/launch/singleview_3d_pose_estimation.launch">
    <arg name="OCCUPANCY" value="false" />
  </include>

  <node name="static_transform_publisher0"
        pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 map panda_link0 100">
  </node>

</launch>
