<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <xacro:include filename="$(find franka_description)/robots/panda_arm.urdf.xacro"/>
  <xacro:panda_arm />

  <xacro:include filename="$(find ros_objslampp_panda)/robots/suction/suction_gripper.xacro"/>
  <xacro:suction_gripper ns="panda" rpy="${pi} 0 ${-pi/4}" xyz="0 0 0.0065" connected_to="panda_link8"/>

</robot>
