<launch>

  <include file="$(find morefusion_ros)/launch/mask_rcnn_instance_segmentation.launch">
    <arg name="GUI" value="false" />
  </include>

  <include file="$(find morefusion_ros)/launch/singleview_3d_pose_estimation.launch">
    <arg name="OCCUPANCY" value="false" />
  </include>

  <include file="$(find morefusion_ros)/launch/orb_slam2_d435_rgbd.launch">
    <arg name="SERIAL_NUMBER" value="814412071942" />
  </include>

</launch>
