<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/panda_arm_hand.urdf.xacro" />

  <include file="$(find morefusion_panda_ycb_video)/launch/rosbag_play_rs_rgbd.launch">
    <arg name="BAG_ID" value="static.robot" />
  </include>

  <include file="$(find morefusion_panda_ycb_video)/launch/visualize_rs_rgbd.launch">
    <arg name="GUI" value="false" />
  </include>

  <include file="$(find morefusion_panda_ycb_video)/launch/rviz_static.robot.launch">
  </include>

  <include file="$(find morefusion_panda_ycb_video)/launch/setup_static.robot.launch">
    <arg name="USE_PASSTHROUGH" value="false" />
  </include>

</launch>
