@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

h1, h2, h3, h4, h5 {
  color: #555555;
}

body {
  font-family: "Product Sans", Helvetica, sans-serif;;
  color: #787878;
  /* background-color: #e5e6e1; */
}

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #49bf9d;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #49bf9d !important;
  text-decoration: none;
}
a > img {
  border: 1px solid #49bf9d;
}
a:hover > img {
  border: 1.5px solid #49bf9d;
}

button.btn.btn-link {
  color: #49bf9d;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
