<launch>

  <include file="$(find morefusion_panda)/launch/panda_control.launch"/>
  <include file="$(find morefusion_panda)/launch/moveit/move_group.launch.xml"/>

  <node name="pose_service"
        pkg="morefusion_panda" type="pose_service"
        respawn="false" output="screen">
    <param name="planning_plugin" value="ompl_interface/OMPLPlanner"/>
  </node>

  <node name="linear_pose_service"
        pkg="morefusion_panda" type="linear_pose_service.py"
        output="screen" required="true" />
  <node name="joint_position_service"
        pkg="morefusion_panda" type="joint_position_service.py"
        output="screen" required="true" />
  <node name="update_scene_service"
        pkg="morefusion_panda" type="update_scene_service"
        respawn="false" output="screen"/>

</launch>
